<app-search-city></app-search-city>

<!-- Sidebar Toggle Button -->
<div class="sidebar-toggle-button">
  <button
    pButton
    icon="pi pi-bars"
    class="p-button-text"
    (click)="openSidebar()"></button>
</div>

<main class="main-content p-4">
  <div class="flex flex-column gap-4">

    <!-- Location Card -->
    <p-card class="shadow-3 border-round-lg overflow-hidden">
      <ng-template pTemplate="content">
        <div class="relative w-full" style="height: 150px;">
          <div class="absolute left-2 top-2 z-2">
            <span class="text-surface-500 font-medium text-sm">Current
              Location</span>
            <h2
              class="text-surface-500 font-bold text-2xl m-0">{{cityName}}</h2>
          </div>
        </div>
      </ng-template>
    </p-card>

    <!-- Highlights Section -->
    <p-card header="Today's highlight" class="border-round-lg p-3 text-xl mb-4">
      <ng-template pTemplate="content">

        <!-- Highlight Cards -->
        <div class="flex justify-content-evenly flex-wrap">
          <div class="grid gap-2">
            <div class="col-8">
              <div class="grid nested-grid">
                <div class="col-3">
                  <div
                    class="p-8 border-round shadow-1 text-center text-3xl text-blue-100 bg-cover flex align-items-center justify-content-center overflow-hidden"
                    style="background-image: url('/bucharestSample.jpg');">
                    {{temperature}}°C
                  </div>
                </div>
                <div class="col-3">
                  <div class="grid gap-4">
                    <div class="col-12">
                      <div
                        class="p-8 text-cyan-800 border-round shadow-1 justify-content-center align-items-center bg-blue-300">
                        {{windSpeed}} kmh/h
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="grid gap-4">
                    <div class="col-12">
                      <div
                        class="p-4 border-round shadow-1 text-center bg-blue-300">
                        {{ precipitation }} mm
                      </div>
                    </div>
                    <div class="col-12">
                      <div class=" p-4 border-round shadow-1 text-center">
                        {{humidity}}%
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="grid gap-4">
                    <div class="col-12">
                      <div class=" p-4 border-round shadow-1 text-center">
                        {{ sunrise }}
                      </div>
                    </div>
                    <div class="col-12">
                      <div class=" p-4 border-round shadow-1 text-center">
                        {{sunset}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div>
                <p-card>
                  <ng-template pTemplate="content">
                    <p-chart type="line" [data]="chartData"></p-chart>
                  </ng-template>
                </p-card>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
</main>

<app-sidebar></app-sidebar>