<button
  class="custom-sidebar-button"
  *ngIf="!(sidebarService.visible$ | async)"
  (click)="sidebarService.toggle()"
>
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
</button>

<app-sidebar *ngIf="sidebarService.visible$ | async"></app-sidebar>

<div #cesiumContainer class="cesium-container"></div>

<div class="weather-modal" *ngIf="showModal()">
  <div class="modal-content">
    <button class="close-btn" (click)="showModal.set(false)">
      <i class="pi pi-times"></i>
    </button>
    <h3>
      Weather at {{ lat() | number : "1.2-2" }}, {{ lon() | number : "1.2-2" }}
    </h3>

    <div *ngIf="weather(); else loading">
      <p>
        <i class="fa fa-thermometer-full mr-2 text-orange-500"></i>
        <strong>Temperature:</strong>
        {{ convertTemperature(weather().temperature) | number : "1.0-1" }} °{{
          unit()
        }}
      </p>

      <p>
        <i class="fa fa-wind mr-2 text-blue-500"></i>
        <strong>Windspeed:</strong> {{ weather().windspeed }} km/h
      </p>

      <p>
        <i class="pi pi-sun mr-2 text-yellow-500"></i>
        <strong>Sunrise:</strong> {{ sunrise() }}
      </p>
      <p>
        <i class="pi pi-moon mr-2 text-purple-400"></i>
        <strong>Sunset:</strong> {{ sunset() }}
      </p>
    </div>
    <ng-template #loading>
      <p>Loading weather...</p>
    </ng-template>
  </div>
</div>
