<div class="favorites-container" *ngIf="favoriteCities.length > 0; else noFavorites">
  <h2><i class="pi pi-star text-orange-500 mr-2"></i> Favorite Cities</h2>

  <ul>
    <li *ngFor="let city of favoriteCities">
      <span>
        <a
          class="city-link"
          [routerLink]="['/city', city.name]"
          [queryParams]="{ lat: city.latitude, lon: city.longitude }"
        >
          <strong>{{ city.name }}</strong>
        </a>

        <span class="ml-2">
          <i [class]="'pi ' + city.icon" class="mr-1"></i>
          {{ city.weatherLabel }} |
          <i class="fa fa-thermometer-half mr-1 ml-2"></i> {{ city.temperature }}°C
        </span>        
      </span>

      <button class="remove-btn" (click)="removeCity(city.name)" title="Remove">
        <i class="fa fa-trash"></i>
      </button>
    </li>
  </ul>
</div>

<ng-template #noFavorites>
  <p class="no-favorites-text">You haven't added any favorites yet.</p>
</ng-template>
