<div class="flex">
  <div class="form-interval py-4">
    <form class="weather-history-form" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="city">City:</label>
        <input
          id="city"
          type="text"
          [(ngModel)]="cityQuery"
          (input)="onCityInput()"
          name="city"
          autocomplete="off"
          required
        />
        <ul *ngIf="suggestions.length > 0" class="suggestions">
          <li *ngFor="let city of suggestions" (click)="selectCity(city)">
            {{ city.name }}, {{ city.admin1 || "" }}, {{ city.country }}
          </li>
        </ul>
      </div>

      <div class="form-group">
        <label for="start">Start Date:</label>
        <input
          type="date"
          id="start"
          [(ngModel)]="startDate"
          name="start"
          [max]="maxDate"
          required
        />
      </div>

      <div class="form-group">
        <label for="end">End Date:</label>
        <input
          type="date"
          id="end"
          [(ngModel)]="endDate"
          name="end"
          [max]="maxDate"
          [min]="startDate"
          required
        />
      </div>

      <div class="button-row">
        <button type="submit" [disabled]="!formIsValid()">Search</button>
        <button type="button" (click)="clearForm()" [disabled]="!formIsDirty()">
          Clear
        </button>
      </div>
    </form>
  </div>

  <div
    class="w-full flex align-items-center justify-content-center text-center px-4"
    *ngIf="!chartData"
  >
    <p class="weather-placeholder-text">
      Enter a city and a date range to discover what the weather was like.
    </p>
  </div>

  <div class="w-full" *ngIf="chartData">
    <p-chart
      type="line"
      styleClass="w-full h-full"
      [data]="chartData"
      class="weather-history-chart chart-spacing-top"
    ></p-chart>
  </div>
</div>
<div class="history-results-scroll">
  <div
    *ngIf="weatherResults.length > 0"
    class="result scrollable-result"
    #resultsSection
  >
    <h3>Results for {{ selectedCity?.name }}</h3>

    <div class="weather-results-grid">
      <div *ngFor="let entry of weatherResults" class="weather-entry">
        <p>
          <strong>{{ entry.date }}</strong>
        </p>
        <hr />
        <p>
          <i class="fa fa-thermometer-full mr-2 text-orange-500"></i>
          Max: {{ entry.tempMax }}°C |
          <i class="fa fa-thermometer-empty ml-2 text-cyan-600"></i>
          Min: {{ entry.tempMin }}°C
        </p>
        <p>
          <i class="fa fa-wind mr-2 text-blue-500"></i>
          Wind: {{ entry.wind }} km/h
        </p>
        <p>
          <i class="pi pi-sun mr-2 text-yellow-500"></i>
          Sunrise: {{ entry.sunrise | date : "shortTime" }}
        </p>
        <p>
          <i class="pi pi-moon mr-2 text-purple-400"></i>
          Sunset: {{ entry.sunset | date : "shortTime" }}
        </p>
      </div>
    </div>
  </div>
</div>