button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }
  
  button:hover {
    background-color: #540823;
  }
  