<div
  class="sidebar-overlay"
  *ngIf="visible$ | async"
  (click)="closeSidebar()"
></div>
<div class="sidebar-container" [class.visible]="visible$ | async">
  <aside class="sidebar">
    <div class="sidebar-header">
      <button class="close-btn" (click)="closeSidebar()">
        <i class="pi pi-times"></i>
      </button>
    </div>
    <div class="sidebar-main">
      <div class="unit-toggle">
        <label class="switch">
          <input
            type="checkbox"
            (change)="toggleTemperatureUnit()"
            [checked]="(unit$ | async) === 'F'"
          />
          <span class="slider"></span>
        </label>
        <span class="unit-label">{{
          (unit$ | async) === "F" ? "°F" : "°C"
        }}</span>
      </div>

      <div
        class="menu"
        [routerLink]="['/home']"
        routerLinkActive="active-link"
        (click)="closeSidebar()"
      >
        <i class="pi pi-home mr-2"></i>
        <span>Home</span>
      </div>

      <div
        class="favorites"
        [routerLink]="['/favorites']"
        routerLinkActive="active-link"
        (click)="closeSidebar()"
      >
        <i class="pi pi-star-fill mr-2"></i>
        <span>Favorite Cities</span>
      </div>

      <div class="history" (click)="openHistoryForm()">
        <i class="pi pi-clock mr-2"></i>
        <span>History</span>
      </div>
    </div>

    <div class="sidebar-footer">
      <div class="user-info">
        <i class="pi pi-user mr-2"></i>
        <span>Hello, {{ userName }}</span>
      </div>
      <button (click)="logout()" class="logout-btn">Logout</button>
    </div>
  </aside>
</div>
