<div class="sidebar-overlay" *ngIf="visible$ | async"
  (click)="closeSidebar()"></div>
<div class="sidebar-container" [class.visible]="(visible$ | async)">
  <aside class="sidebar">
    <div>
      <div class="menu" [routerLink]="['/home']" routerLinkActive
        (click)="closeSidebar()">
        <i class="pi pi-home mr-2"></i>
        <span>Home</span>
      </div>

      <div class="favorites" [routerLink]="['/favorites']"
        (click)="closeSidebar()">
        <i class="pi pi-star-fill mr-2"></i>
        <span>Favorite Cities</span>
      </div>
    </div>

    <div class="sidebar-footer">
      <div class="user-info">
        <i class="pi pi-user mr-2"></i>
        <span>Hello, User</span>
      </div>
      <button (click)="logout()" class="logout-btn">Logout</button>
    </div>
  </aside>
</div>
