<div class="search-bar">
  <input
    [formControl]="searchControl"
    id="city"
    type="text"
    (focus)="onInputFocus()"
    (blur)="onInputBlur()"
    placeholder="Search here..."
    class="custom-input"
    autocomplete="off"
  />

  <ul *ngIf="suggestions.length > 0" class="suggestion-list" role="listbox">
    <li
      *ngFor="let city of suggestions"
      (mousedown)="selectCity(city)"
      role="option"
    >
      {{ city.name }}<span *ngIf="city.admin1">, {{ city.admin1 }}</span
      >, {{ city.country }}
    </li>
  </ul>

  <i class="pi pi-search search-icon"></i>
</div>

<main class="main-content"></main>
