<div class="city-manager-container p-px-4 p-pt-4">
    <h2>Manage Cities</h2>
  
    <div class="p-field p-fluid">
      <label for="city">Search & Select City</label>
      <p-autoComplete
        inputId="city"
        [(ngModel)]="selectedGeoCity"
        [suggestions]="suggestions"
        (completeMethod)="searchCity($event)"
        field="name"
        [dropdown]="true"
        [forceSelection]="true"
        placeholder="Type a city name..."
        class="w-full">
        <ng-template let-city pTemplate="item">
            {{ city.name }}<span *ngIf="city.admin1">, {{ city.admin1 }}</span>, {{ city.country }}
          </ng-template>
          
      </p-autoComplete>
    </div>
  
    <div class="p-mt-2">
      <button pButton type="button" label="Add City" icon="pi pi-plus" class="p-button-success" (click)="addCity()" [disabled]="!selectedGeoCity"></button>
    </div>
  
    <div class="p-input-icon-left p-mt-4 p-mb-3">
      <i class="pi pi-search"></i>
      <input
        type="text"
        pInputText
        placeholder="Search in added cities..."
        [(ngModel)]="searchTerm"
        (input)="filterCities()"
        class="w-full" />
    </div>
  
    <p-table [value]="filteredCities" class="p-mt-4" [paginator]="true" [rows]="5">
      <ng-template pTemplate="header">
        <tr>
          <th>City</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-city>
        <tr>
          <td>{{ city.name }}</td>
          <td>{{ city.latitude }}</td>
          <td>{{ city.longitude }}</td>
          <td>
            <button pButton icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger p-button-sm" (click)="deleteCity(city)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  